@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Harika bir doğum günü partisi seni bekliyor !</h2>
    <h3>Sende Davetlisin !</h3>
    @Html.ActionLink("Geliyor Musun?", "DavetiyeFormu", null, new { @class = "btn btn-primary" })

</div>
